<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Betaheads stats</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/index.css">
</head>

<body>
  {{> navbar }}
  <main>
    {{{body}}}
  </main>

  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>

  <script>
    //number formatting script

    function formatNumber(number) {
      return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    }

    const numberElements = document.getElementsByClassName("number");

    Array.from(numberElements).forEach(element => {
      const originalNumber = element.textContent;
      element.textContent = formatNumber(originalNumber);
    });
  </script>
</body>

</html>