<div class="bh-center">
    <div class="bh-container">
      <h1>Player statistic</h1>
    </div>
  </div>

  <div class="bh-center bh-mx-1">
    <div class="bh-container">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="https://betaheads.net/favicon.ico" alt="player skin">
            <div class="caption">
              <h3>player name</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bh-center bh-mx-1">
    <div class="panel panel-default bh-container">
      <div class="panel-heading">Overall statistics</div>
      <table class="table table-hover">
        <tbody>
          <tr>
            <td><b>Total playtime</b></td>
            <td>36 345h 32m 59s</td>
          </tr>
          <tr>
            <td><b>Total blocks placed</b></td>
            <td>99 887 827 367</td>
          </tr>
          <tr>
            <td><b>Total blocks broken</b></td>
            <td>100 002 314 124</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="bh-center bh-mx-1">
    <div class="panel panel-default bh-container">
      <div class="panel-heading">Players leaderboard</div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Player</th>
            <th>Broken cobblestone</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>misha</td>
            <td>123 213 123</td>
          </tr>
          <tr>
            <td>2</td>
            <td>nick</td>
            <td>12 321 313</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>