.bh-container {
  max-width: 60rem;
  width: 100%;
}

.bh-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bh-mx-1 {
  margin: 0 1rem;
}

.bh-mt-1 {
  margin-top: 1rem;
}

.bh-w-fit-content {
  width: fit-content !important;
}

.bh-min-w-33p {
  min-width: 33.33333333%;
}